
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* , *::after, ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.test{
  color :hsl(172, 67%, 45%)



  hsl(183, 100%, 15%)
  hsl(186, 14%, 43%)
 hsl(184, 14%, 56%)
  hsl(185, 41%, 84%)
  hsl(189, 41%, 97%)
  hsl(0, 0%, 100%)
}
